:root{
    --code-background:#232323
}
.sp-javascript{
    font-size: 1rem;
    margin-top: 10px;
    background: white;
}
.sp-javascript .cm-editor{
    background:var(--code-background);
    padding: 10px 0;
}

.sp-javascript .cm-gutters{
    background: var(--code-background);
}
div [data-lexical-decorator="true"]{

}