:root{
    --code-background:#232323
}
.sp-javascript{
    font-size: 1rem;
    margin-top: 10px;
    background: white;
}
.sp-javascript .cm-editor{
    background:var(--code-background);
    padding: 10px 0;
}

.sp-javascript .cm-gutters{
    background: var(--code-background);
}
div [data-lexical-decorator="true"]{

}
.prose{
    height: 100%;
}
.mdxeditor{
    height: 100%;
}

.mdxeditor-root-contenteditable{
    padding: 20px 10px;
    height: 100%;
}

.mdxeditor-root-contenteditable > div:active{
    border: none;
}
.mdxeditor-root-contenteditable > div{
    border: none;
    padding: 10px;
}

.mdxeditor-toolbar,.mdxeditor-toolbar > div{
    display: flex;
    align-items: center;
}

.mdxeditor-toolbar,.mdxeditor-toolbar > div{
    display: flex;
    align-items: center;
}